{% include "layouts/head.html" %}
{% include "layouts/header.html" %}


<style>

    #confirmModalMessage {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.yes-btn {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}


.yes-btn:hover,
.yes-btn:focus,
.yes-btn:active {
    background-color: #bb2d3b !important;
    border-color: #bb2d3b !important;
    box-shadow: none !important;
}

.cancel-btn {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    color: white !important;
}

.cancel-btn:hover,
.cancel-btn:focus,
.cancel-btn:active {
    background-color: #565e64 !important;
    border-color: #565e64 !important;
    color: white !important;
    box-shadow: none !important;
}

</style>
<section class="gray pb-5">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="property_dashboard_navbar">

                    <div class="dash_user_avater">

                        {% if role == "Admin" %}
                        <i class="fa fa-user-gear hicon2"></i>
                        {% elif role == "Security Operator" %}
                        <i class="fa fa-video hicon2"></i>
                        {% elif role == "Security Field" %}
                        <i class="fa fa-bell hicon2"></i>
                        {% endif %}

                        <h4>{{ user_name }}</h4>
                        <span>{{ role }}</span>

                    </div>

                    <div class="dash_user_menues">
                        <ul>

                            {% if is_admin %}

                            <li class="{% if request.path == '/users_list' %}active{% endif %}">
                                <a href="/users_list">Users</a>
                            </li>

                            <li class="{% if request.path == '/user_add' %}active{% endif %}">
                                <a href="/user_add">Add User</a>
                            </li>

                            <li class="{% if request.path == '/cameras_list' %}active{% endif %}">
                                <a href="/cameras_list">Cameras</a>
                            </li>

                            <li class="{% if request.path == '/camera_add' %}active{% endif %}">
                                <a href="/camera_add">Add Camera</a>
                            </li>

                            {% endif %}


                            {% if is_operator %}
                            <li class="{% if request.path == '/operator_monitoring' %}active{% endif %}">
                                <a href="/operator_monitoring">Monitoring</a>
                            </li>
                            {% endif %}


                            {% if is_field %}
                            <li class="{% if request.path == '/field_alerts' %}active{% endif %}">
                                <a href="/field_alerts">Alerts</a>
                            </li>
                            {% endif %}


                            {% if is_operator %}
                            <li class="{% if request.path == '/operator_alerts' %}active{% endif %}">
                                <a href="/operator_alerts">Alerts</a>
                            </li>
                            {% endif %}

                            <li class="{% if request.path == '/update_profile' %}active{% endif %}">
                                <a href="/update_profile">Update Profile</a>
                            </li>

                            <li class="{% if request.path == '/update_password' %}active{% endif %}">
                                <a href="/update_password">Reset Password</a>
                            </li>

                           <li>
                                <a href="#"
                                onclick="showConfirmModal(
                                    'Are you sure you want to logout?',
                                    function () {
                                        window.location.href = '/logout';
                                    }
                                ); return false;">

                                    Logout

                                </a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="dashboard-body">
                    {% block content %}{% endblock %}
                </div>
            </div>

        </div>
    </div>
</section>


<!-- Reusable Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Confirm Action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body" id="confirmModalMessage">
        Are you sure?
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>

        <button type="button" class="btn btn-danger yes-btn" id="confirmModalYesBtn">
          Yes
        </button>
      </div>

    </div>
  </div>
</div>



{% include "layouts/footer.html" %}

<script>
let confirmAction = null;

function showConfirmModal(message, action) {

    document.getElementById("confirmModalMessage").innerText = message;

    confirmAction = action;

    const modalElement = document.getElementById("confirmModal");

    const modal = new window.bootstrap.Modal(modalElement);

    modal.show();
}

document.getElementById("confirmModalYesBtn").addEventListener("click", function () {

    if (confirmAction) {
        confirmAction();
    }

});
</script>