<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Processing Login</title>
</head>

<body>
{% include 'header-main.html' %}
<h2>Processing Login...</h2>

<script>
const email = localStorage.getItem("email");
const password = localStorage.getItem("password");

if (email === "test@example.com" && password === "123456") {
    alert("Login successful!");
    window.location.href = "/dashboard";
} else {
    alert("Wrong login");
    window.location.href = "/login";
}
</script>
{% include 'footer.html' %}
</body>
</html>
