{% extends "layouts/guest_layout.html" %}
{% block content %}

<section class="">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>Login As</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center g-4">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, msg in messages %}
            <h5 class="text-green text-center">{{ msg }}</h5>
            {% endfor %}
            {% endwith %}
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a href="/login?role=Security Operator">
                    <div class="wpk_process">
                        <div class="wpk_thumb">
                            <div class="wpk_thumb_figure">
                                <i class="fa fa-video hicon2"></i>
                            </div>
                        </div>
                        <div class="wpk_caption">
                            <h4>Security Operator</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12">
                <a href="/login?role=Admin">
                    <div class="wpk_process">
                        <div class="wpk_thumb">
                            <div class="wpk_thumb_figure">
                                <i class="fa fa-user-gear hicon2"></i>
                            </div>
                        </div>
                        <div class="wpk_caption">
                            <h4>Admin</h4>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>
</section>

{% endblock %}