<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eyecept | Register</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">


</head>
<body>

  

  <!-- HEADER -->
    {% include 'header-auth.html' %}

  <!-- PAGE CONTENT -->
  <main>
   <div class="card register-card">
      <h1 class="form-title">Add User</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
            <p class="flash-message">{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

  <form class="register-form" method="POST" action="{{ url_for('register_fields') }}">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" placeholder="Enter First Name" required>
        </div>



         <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" placeholder="Enter Last Name" required>
        </div>



        
         <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Enter Phone Number" required>
        </div>




          
           <div class="form-group">
            <p class="field-title">Shift Days</p>

            <div class="shift-days">
              <label class="shift-option">
                <input type="checkbox" name="shift_days" value="Sunday"> Sunday
              </label>

              <label class="shift-option">
                <input type="checkbox" name="shift_days" value="Monday"> Monday
              </label>

              <label class="shift-option">
                <input type="checkbox" name="shift_days" value="Tuesday"> Tuesday
              </label>

              <label class="shift-option">
                <input type="checkbox" name="shift_days" value="Wednesday"> Wednesday
              </label>

              <label class="shift-option">
                <input type="checkbox" name="shift_days" value="Thursday"> Thursday
              </label>

              <label class="shift-option">
                <input type="checkbox" name="shift_days" value="Friday"> Friday
              </label>

              <label class="shift-option">
                <input type="checkbox" name="shift_days" value="Saturday"> Saturday
              </label>

            </div>
          </div>
        

      


        

        <div class="form-group">
          <h3> Shift Time </h3>

          <label>Start Time</label>
          <input type="time" name="start_time">

          <label>End Time</label>
          <input type="time" name="end_time">




        </div>





        <button type="submit" class="submit-btn">Add</button>
      </form>
    </div>
  </main>


  <!-- FOOTER -->
  {% include 'footer.html' %}

  <!-- LOAD HEADER + FOOTER -->
  <script src="include.js"></script> <script src="{{ url_for('static', filename='js/include.js') }}"></script>





</body>
</html>
