<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eyecept | Register</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">


</head>
<body>

  

  <!-- HEADER -->
    {% include 'header-auth.html' %}

  <!-- PAGE CONTENT -->
  <main>
   <div class="card register-card">
      <h1 class="form-title">Add User</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
            <p class="flash-message">{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

  <form class="register-form" method="POST" action="{{ url_for('register') }}">
    <input type="hidden" name="role" value="{{ selected_role or 'security_operator' }}">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" placeholder="Enter First Name" required>
        </div>



         <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" placeholder="Enter Last Name" required>
        </div>






        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Enter email" required>
        </div>


        <div class="form-group">
          <label for="password">Password</label>

           <div class="password-wrapper">
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter password"
                required
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}$"
              >

            <button type="button" id="togglePassword" class="toggle-password">
              👁
            </button>
          </div>

                <ul class="password-rules">
                    <li id="length">❌ At least 8 characters</li>
                    <li id="lower">❌ One lowercase letter</li>
                    <li id="upper">❌ One uppercase letter</li>
                    <li id="special">❌ One special character</li>
                </ul>


          </div>



        



    
          
           <div class="form-group">
            <p class="field-title">Shift Days</p>

            <div class="shift-days">
              <label class="shift-option">
                <input type="checkbox" name="shift_days" value="Sunday"> Sunday
              </label>

              <label class="shift-option">
                <input type="checkbox" name="shift_days" value="Monday"> Monday
              </label>

              <label class="shift-option">
                <input type="checkbox" name="shift_days" value="Tuesday"> Tuesday
              </label>

              <label class="shift-option">
                <input type="checkbox" name="shift_days" value="Wednesday"> Wednesday
              </label>

              <label class="shift-option">
                <input type="checkbox" name="shift_days" value="Thursday"> Thursday
              </label>

              <label class="shift-option">
                <input type="checkbox" name="shift_days" value="Friday"> Friday
              </label>

              <label class="shift-option">
                <input type="checkbox" name="shift_days" value="Saturday"> Saturday
              </label>

            </div>
          </div>
        

      


        

        <div class="form-group">
          <h3> Shift Time </h3>

          <label>Start Time</label>
          <input type="time" name="start_time">

          <label>End Time</label>
          <input type="time" name="end_time">




        </div>













        <button type="submit" class="submit-btn">Add</button>
      </form>
    </div>
  </main>

 

  <!-- FOOTER -->
  {% include 'footer.html' %}

  

  <!-- For hidden eye password-->
  <script>
  const passwordInput = document.getElementById("password");
  const togglePassword = document.getElementById("togglePassword");

  togglePassword.addEventListener("click", function () {
    const isPassword = passwordInput.getAttribute("type") === "password";
    passwordInput.setAttribute("type", isPassword ? "text" : "password");
    togglePassword.textContent = isPassword ? "🙈" : "👁";
  });
</script>


<!-- for password check-->
<script>
const password = document.getElementById("password");

const lengthRule = document.getElementById("length");
const lowerRule = document.getElementById("lower");
const upperRule = document.getElementById("upper");
const specialRule = document.getElementById("special");

password.addEventListener("input", function() {

  const value = password.value;

  if(value.length >= 8){
    lengthRule.textContent = "✔ At least 8 characters";
  } else {
    lengthRule.textContent = "❌ At least 8 characters";
  }

  if(/[a-z]/.test(value)){
    lowerRule.textContent = "✔ One lowercase letter";
  } else {
    lowerRule.textContent = "❌ One lowercase letter";
  }

  if(/[A-Z]/.test(value)){
    upperRule.textContent = "✔ One uppercase letter";
  } else {
    upperRule.textContent = "❌ One uppercase letter";
  }

  if(/[\W_]/.test(value)){
    specialRule.textContent = "✔ One special character";
  } else {
    specialRule.textContent = "❌ One special character";
  }

});
</script>


</body>
</html>
