{% extends "layouts/guest_layout.html" %}

{% block content %}

<section class="">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h3>Forgot Password</h3>

                    {% if error %}
                    <h5 class="text-red">{{ error }}</h5>
                    {% endif %}

                    {% if success %}
                    <h5 class="text-green">{{ success }}</h5>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="resp_log_wrap">
                    <div class="resp_log_caption">

                        <form method="POST">

                            <div class="form-group">
                                <label>Email <span class="text-danger">*</span></label>
                                <input type="email"
                                       name="email"
                                       class="form-control"
                                       placeholder="Enter your email"
                                       required>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-danger fw-medium full-width">
                                    Send Code
                                </button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}