{% extends "layouts/guest_layout.html" %}

{% block content %}

<section class="">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h3>{{ role }} Login</h3>
                    {% if success %}
                    <h5 class="text-green">{{ success }}</h5>
                    {% endif %}
                    {% if error %}
                    <h5 class="text-red">{{ error }}</h5>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="resp_log_wrap">
                    <div class="resp_log_caption">
                        <div class="login-form">

                            <form method="POST" action="/login?role={{ role }}">

                                <div class="form-group">
                                    <label>Email</label>
                                    <div class="input-with-icon">
                                        <input value="{{ email or '' }}" type="email" name="email"
                                               class="form-control"
                                               placeholder="Email Address" required/>
                                        <i class="ti-user"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Password</label>
                                    <div class="input-with-icon">
                                        <input value="{{ password or '' }}" type="password"
                                               name="password"
                                               class="form-control"
                                               placeholder="Password"
                                               required/>
                                        <i class="ti-unlock"></i>
                                    </div>
                                    
                                </div>

                            <div style="display:flex;">
    <h6 style="margin-left:auto;">
        <a href="/forgot_password">Forgot password?</a>
    </h6>
</div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger fw-medium full-width">
                                        Login
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}