{% extends "layouts/user_layout.html" %}

{% block content %}

<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:20px;">

    <h4 style="margin:0;">Alerts</h4>



    <button class="clear-btn" onclick="clearAlerts()">
        Clear All
    </button>

</div>

{% if alerts|length == 0 %}

<div class="no-alerts">
    No alerts yet
</div>
{% endif %}

<div class="alerts-container">


    {% for a in alerts %}
    <div class="alert-card">

        <div class="alert-badge">ALERT</div>

        <img class="alert-img" src="/snapshot/{{ a[2].split('/')[-1] }}">

        <div class="alert-content">
            <div class="alert-reason">
                {{ a[4] }}
            </div>

            <div class="alert-time">
                {{ a[6] }}
            </div>
            <br>
                 <button class="fp-btn" onclick="falsePositive('{{ a[0] }}')">
            Make as false positive
        </button>
        </div>
   

    </div>
    {% endfor %}


</div>

<script>
    function clearAlerts() {
        if (!confirm("Delete all alerts?")) return;

        fetch("/clear_alerts", { method: "POST" })
            .then(() => location.reload());
    }
    function falsePositive(alert_id) {
        if (!confirm("Mark as false positive, send sms to security field and delete alert?")) return;

        fetch("/false_positive", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ alert_id: alert_id })
        }).then(() => location.reload());
    }
</script>
{% endblock %}