{% extends "layouts/user_layout.html" %}

{% block content %}

<div class="frm_submit_block">
    <h4>My Profile</h4>

    {% if success %}
    <h5 class="text-green">{{ success }}</h5>
    {% endif %}

    {% if error %}
    <h5 class="text-red">{{ error }}</h5>
    {% endif %}

    <div class="frm_submit_wrap">
       <form method="POST" >

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input name="name" type="text" class="form-control"
       oninput="this.value = this.value.replace(/[^a-z,A-Z,أ-ي, ]/, '')"
       value="{{ user[1] }}" {% if is_operator %}disabled{% endif %}>
                    </div>
                </div>

               
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email</label>

                    <input type="text"
       name="email"
       class="form-control"
       placeholder="Email Address"
       
       value="{{ user[2] }}"
       

       oninvalid="
            if (this.value.trim() === '') {
                this.setCustomValidity('Please fill out this field.');
            } else {
                this.setCustomValidity('Email must contain .eyecept before @ like: ali.eyecept@gmail.com');
            }
       "

       oninput="
            const pattern =
           /^(?!.*\.\.)[A-Za-z0-9]+(?:[._%+-][A-Za-z0-9]+)*\.eyecept@[A-Za-z0-9-]+(?:\.[A-Za-z0-9-]+)*\.[A-Za-z]{2,}$/

            if (this.value.trim() === '') {
                this.setCustomValidity('Please fill out this field.');
            }
            else if (!pattern.test(this.value)) {
                this.setCustomValidity('Email must contain .eyecept before @ like: ali.eyecept@gmail.com');
            }
            else {
                this.setCustomValidity('');
            }
       " {% if is_operator %}disabled{% endif %}>


                    </div>
                </div>



                <div class="col-md-6">
                    <div class="form-group">
                        <label>Phone </label>
                
                
                        <input
                name="phone"
                type="text"
                class="form-control"
                minlength="10"
                maxlength="10"
                inputmode="numeric"
                value="{{ user[5] or '' }}"
                

                oninvalid="
                    this.setCustomValidity(
                        'Phone number must start with 05 and be exactly 10 digits'
                    )
                "

                oninput="
                    this.setCustomValidity('');

                    this.value = this.value.replace(/\D/g,'');

                    if (
                        this.value.length > 0 &&
                        !this.value.startsWith('05')
                    ) {

                        this.setCustomValidity(
                            'Phone number must start with 05 and be exactly 10 digits'
                        );

                    }
                    else if (
                        this.value.length > 0 &&
                        this.value.length < 10
                    ) {

                        this.setCustomValidity(
                            'Phone number must start with 05 and be exactly 10 digits'
                        );

                    }
                    else {

                        this.setCustomValidity('');
                    }
                "
            >
                        
               </div>
                </div>

            </div>

            <br>

            <div class="form-group text-left add_top_30">
                <button class="btn btn-danger fw-medium">
                    Update
                </button>
            </div>

        </form>
    </div>
</div>

<script>
const emailInput = document.querySelector("input[name='email']");

function validateEmail() {

    const pattern =
   /^(?!.*\.\.)[A-Za-z0-9]+(?:[._%+-][A-Za-z0-9]+)*\.eyecept@[A-Za-z0-9-]+(?:\.[A-Za-z0-9-]+)*\.[A-Za-z]{2,}$/

    if (emailInput.value.trim() === '') {

        emailInput.setCustomValidity(
            'Please fill out this field.'
        );

    }
    else if (!pattern.test(emailInput.value)) {

        emailInput.setCustomValidity(
            'Email must contain .eyecept before @ like: ali.eyecept@gmail.com'
        );

    }
    else {

        emailInput.setCustomValidity('');
    }
}

emailInput.addEventListener("input", validateEmail);
emailInput.addEventListener("invalid", validateEmail);
</script>

{% endblock %}