{% extends "layouts/user_layout.html" %}

{% block content %}

<div class="frm_submit_block">
    <h4>Add New User</h4>

    <br>

    {% if error %}
    <h5 class="text-red">{{ error }}</h5>
    {% endif %}

    {% if success %}
    <h5 class="text-green">{{ success }}</h5>
    {% endif %}

    <br>

    <div class="frm_submit_wrap">
        <form method="POST" action="/user_add">

            <div class="row">

                <!-- ROLE -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            User Type <span class="text-danger">*</span>
                        </label>

                        <select name="role"  id="role" class="form-control" required>
                            <option value="" disabled selected>Select type</option>

                            <option value="Security Operator" {% if role=="Security Operator" %}selected{% endif %}>
                                Security Operator
                            </option>

                            <option value="Security Field" {% if role=="Security Field" %}selected{% endif %}>
                                Security Field
                            </option>
                        </select>
                    </div>
                </div>

                <!-- NAME -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            Name <span class="text-danger">*</span>
                        </label>

                        <input value="{{ name or '' }}" name="name" type="text" class="form-control"
                            oninput="this.value = this.value.replace(/[^a-z,A-Z,أ-ي, ]/, '')" placeholder="Full name"
                            required>
                    </div>
                </div>

                    <!-- EMAIL -->
<div class="col-md-6">
    <div class="form-group">
        <label>
            Email <span class="text-danger">*</span>
        </label>

        <input type="text"
               name="email"
               class="form-control"
               placeholder="Email Address"
               required
               value="{{ email or '' }}"

               oninvalid="
                    if (this.value.trim() === '') {
                        this.setCustomValidity('Please fill out this field.');
                    } else {
                        this.setCustomValidity('Email must contain .eyecept before @ like: ali.eyecept@gmail.com');
                    }
               "

               oninput="
                    const pattern = /^(?!.*\.\.)[A-Za-z0-9]+(?:[._%+-][A-Za-z0-9]+)*\.eyecept@[A-Za-z0-9-]+(?:\.[A-Za-z0-9-]+)*\.[A-Za-z]{2,}$/

                    if (this.value.trim() === '') {
                        this.setCustomValidity('Please fill out this field.');
                    }
                    else if (!pattern.test(this.value)) {
                        this.setCustomValidity('Email must contain .eyecept before @ like: ali.eyecept@gmail.com');
                    }
                    else {
                        this.setCustomValidity('');
                    }
               ">
    </div>
</div>



                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            Password <span class="text-danger">*</span>
                        </label>

                        <input name="password" id="password" type="password" class="form-control"
                            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*]).{8,}"
                            required
                            title="Password must be at least 8 characters, include uppercase, lowercase, number, and special character">

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            Confirm Password <span class="text-danger">*</span>
                        </label>


                        <input name="re_password" id="re_password" type="password" class="form-control"
                            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*]).{8,}"
                            required
                            title="Password must be at least 8 characters, include uppercase, lowercase, number, and special character">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                       <label>
                            Phone <span class="text-danger">*</span>
                        
                        </label>
                        <input
                            name="phone"
                            type="text"
                            class="form-control"
                            pattern="05[0-9]{8}"
                            maxlength="10"
                            inputmode="numeric"
                            required

                            oninvalid="
                                if (this.value.trim() === '') {
                                    this.setCustomValidity('');
                                } else {
                                    this.setCustomValidity('Phone number must start with 05 and be exactly 10 digits');
                                }
                            "

                            oninput="
                                this.value = this.value.replace(/\D/g,'');

                                if (this.value.trim() === '') {
                                    this.setCustomValidity('');
                                }
                                else if (!/^05[0-9]{8}$/.test(this.value)) {
                                    this.setCustomValidity('Phone number must start with 05 and be exactly 10 digits');
                                }
                                else {
                                    this.setCustomValidity('');
                                }
                            "
                        >
                      
                    </div>
                </div>

            </div>

            <br><br>

            <div class="form-group text-left add_top_30">
                <button type="submit" class="btn btn-danger fw-medium">
                    Add User
                </button>
            </div>

        </form>
    </div>
</div>


<script>
const roleSelect = document.getElementById("role");
const passwordInput = document.getElementById("password");
const confirmPasswordInput = document.getElementById("re_password");

function handlePasswordLock() {
    if (roleSelect.value === "Security Field") {
        passwordInput.value = "";
        confirmPasswordInput.value = "";

        passwordInput.disabled = true;
        confirmPasswordInput.disabled = true;

        passwordInput.required = false;
        confirmPasswordInput.required = false;
    } else {
        passwordInput.disabled = false;
        confirmPasswordInput.disabled = false;

        passwordInput.required = true;
        confirmPasswordInput.required = true;
    }
}

roleSelect.addEventListener("change", handlePasswordLock);
handlePasswordLock();
</script>

{% endblock %}