{% extends "layouts/user_layout.html" %}

{% block content %}

<div class="frm_submit_block">
    <h4>Add New User</h4>

    <br>

    {% if error %}
    <h5 class="text-red">{{ error }}</h5>
    {% endif %}

    {% if success %}
    <h5 class="text-green">{{ success }}</h5>
    {% endif %}

    <br>

    <div class="frm_submit_wrap">
        <form method="POST" action="/user_add">

            <div class="row">

                <!-- ROLE -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            User Type <span class="text-danger">*</span>
                        </label>

                        <select name="role" class="form-control" required>
                            <option value="" disabled selected>Select type</option>

                            <option value="Security Operator" {% if role=="Security Operator" %}selected{% endif %}>
                                Security Operator
                            </option>

                            <option value="Security Field" {% if role=="Security Field" %}selected{% endif %}>
                                Security Field
                            </option>
                        </select>
                    </div>
                </div>

                <!-- NAME -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            Name <span class="text-danger">*</span>
                        </label>

                        <input value="{{ name or '' }}" name="name" type="text" class="form-control"
                            oninput="this.value = this.value.replace(/[^a-z,A-Z,أ-ي, ]/, '')" placeholder="Full name"
                            required>
                    </div>
                </div>

                <!-- EMAIL -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            Email <span class="text-danger">*</span>
                        </label>

                        <input value="{{ email or '' }}" type="email" name="email" class="form-control"
                            placeholder="Email Address" required>
                    </div>
                </div>

                <!-- PASSWORD -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            Password <span class="text-danger">*</span>
                        </label>

                        <input name="password" type="password" class="form-control"
                            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*]).{8,}" required
                            title="Password must be at least 8 characters, include uppercase, lowercase, number, and special character">
                    </div>
                </div>

                <!-- CONFIRM -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            Confirm Password <span class="text-danger">*</span>
                        </label>


                        <input name="re_password" type=" password" class="form-control"
                            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*]).{8,}" required
                            title="Password must be at least 8 characters, include uppercase, lowercase, number, and special character">
                    </div>
                </div>

                <!-- PHONE (OPTIONAL) -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            Phone
                        </label>

                        <input name="phone" type="text" class="form-control" pattern="05[0-9]{8}" minlength="10"
                            maxlength="10" inputmode="numeric" required
                            oninvalid="this.setCustomValidity('Phone number must start with 05 and be exactly 10 digits')"
                            oninput="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
                    </div>
                </div>

            </div>

            <br><br>

            <div class="form-group text-left add_top_30">
                <button type="submit" class="btn btn-danger fw-medium">
                    Add User
                </button>
            </div>

        </form>
    </div>
</div>

{% endblock %}